#### https://github.com/dataprofessor/code/blob/master/python/linear_regression.ipynb

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.datasets import load_diabetes

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
diabetes = load_diabetes()

In [7]:
type(diabetes)

sklearn.utils.Bunch

In [9]:
df_x = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)

In [10]:
df_x.sample(n=3)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
18,-0.038207,-0.044642,-0.010517,-0.036656,-0.037344,-0.019476,-0.028674,-0.002592,-0.018118,-0.017646
195,0.027178,0.050680,0.025051,0.014987,0.025950,0.048477,-0.039719,0.034309,0.007837,0.023775
57,-0.027310,-0.044642,-0.063330,-0.050428,-0.089630,-0.104340,0.052322,-0.076395,-0.056158,-0.067351

In [11]:
df_y = pd.DataFrame(diabetes.target)

In [12]:
df_y.sample(n=3)

         0
51   225.0
327  237.0
355   60.0

In [13]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2)

In [14]:
model = LinearRegression()

In [15]:
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
model.coef_

array([[ -23.8117389 , -193.69687481,  529.33697766,  317.57337282,
        -545.21939662,  285.23178854,   20.02519493,  126.26699243,
         677.3706957 ,   98.91052487]])

In [17]:
model.intercept_

array([152.963641])

In [18]:
y_predicted = model.predict(x_test)

In [19]:
from sklearn.metrics import r2_score, mean_squared_error

In [20]:
np.sqrt(mean_squared_error(y_predicted, y_test))

53.333265225957746

In [23]:
r2_score(y_predicted, y_test)

0.13806643584832579