#### https://www.datacamp.com/community/tutorials/naive-bayes-scikit-learn

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
weather=['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny',
'Rainy','Sunny','Overcast','Overcast','Rainy']

In [3]:
temp=['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']

In [4]:
play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

In [6]:
labelencoder = LabelEncoder()

weather_encoded=labelencoder.fit_transform(weather)

In [7]:
type(weather_encoded)

numpy.ndarray

In [9]:
weather_encoded[:4]

array([2, 2, 0, 1], dtype=int64)

In [17]:
temp_encoded = labelencoder.fit_transform(temp)

play_encoded = labelencoder.fit_transform(play)

In [14]:
features = zip(weather_encoded,temp_encoded)

In [15]:
from sklearn.naive_bayes import GaussianNB

In [16]:
model = GaussianNB()

In [23]:
data = [[weather_encoded], [temp_encoded]]

In [24]:
data

[[array([2, 2, 0, 1, 1, 1, 0, 2, 2, 1, 2, 0, 0, 1], dtype=int64)],
 [array([1, 1, 1, 2, 0, 0, 0, 2, 0, 2, 2, 2, 1, 2], dtype=int64)]]

In [30]:
df = pd.DataFrame({'col':weather_encoded})

In [31]:
df

    col
0     2
1     2
2     0
3     1
4     1
5     1
6     0
7     2
8     2
9     1
10    2
11    0
12    0
13    1

In [34]:
df.rename({'col':'col-1'}, inplace=True)

In [36]:
df['col-2'] = temp_encoded

In [37]:
df

    col  col-2
0     2      1
1     2      1
2     0      1
3     1      2
4     1      0
5     1      0
6     0      0
7     2      2
8     2      0
9     1      2
10    2      2
11    0      2
12    0      1
13    1      2

In [38]:
play

['No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No']

In [39]:
df['play'] = play

In [40]:
df

    col  col-2 play
0     2      1   No
1     2      1   No
2     0      1  Yes
3     1      2  Yes
4     1      0  Yes
5     1      0   No
6     0      0  Yes
7     2      2   No
8     2      0  Yes
9     1      2  Yes
10    2      2  Yes
11    0      2  Yes
12    0      1  Yes
13    1      2   No

In [42]:
df.iloc[:, [0, 1]]

    col  col-2
0     2      1
1     2      1
2     0      1
3     1      2
4     1      0
5     1      0
6     0      0
7     2      2
8     2      0
9     1      2
10    2      2
11    0      2
12    0      1
13    1      2

In [43]:
model.fit(df.iloc[:, [0, 1]], df['play'])

GaussianNB(priors=None, var_smoothing=1e-09)

In [45]:
model.predict([[0,2]]) # predicting

array(['Yes'], dtype='<U3')

In [47]:
model.predict([[2,2]]) # predicting

array(['No'], dtype='<U3')

#### https://www.tutorialspoint.com/scikit_learn/scikit_learn_classification_with_naive_bayes.htm

In [48]:
from sklearn.datasets import load_breast_cancer

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
cancer = load_breast_cancer()

In [51]:
type(cancer)

sklearn.utils.Bunch

In [53]:
x = cancer['data']

In [54]:
y = cancer['target']

In [55]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [56]:
model.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [57]:
y_predicted = model.predict(x_test)

In [58]:
from sklearn.metrics import accuracy_score

In [59]:
accuracy_score(y_predicted, y_test)

0.9122807017543859